<h1><%= @story.name %></h1>
<div class="container">

  <%= link_to "Back to all stories", stories_path %>
  <div class="row">
      <% if @story.photos.empty? %>
 <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path "https://res.cloudinary.com/dwxhfawho/image/upload/v1605666098/air-moto/2018_Aprilia_Shiver_900/2018_Aprilia_Shiver_900_1_aiz6s2.jpg", height: 300, width: 400, crop: :fill %>')">
    <% else %>
  <img class="d-block w-100"  src= "<%= cl_image_path @story.photos[0].key, crop: :fill %>", height: "300", width:"550">
  <br>
  <% end %>
<br>
<br>
   <%= link_to 'Delete this story', story_path(@story), method: :delete, :data => {:confirm => 'Are you sure? '}, class: "btn btn-success"%>
</div>
</div>

